h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
}

.contact-list {
  margin: 0 auto;
  max-width: 700px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 12px #0003;
  transition: all 0.3s ease;
}

.contact-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px #0002;
  transition: all 0.3s ease;
}

.contact-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px #0003;
  background: #edf5ff;
}

.contact-item strong {
  color: #007bff;
  margin-right: 10px;
  font-size: 1.1rem;
}

.contact-item span {
  font-size: 1.3rem;
  margin-right: 10px;
  color: #090909;
  transition: color 0.3s ease;
}

 

.contact-item span:hover {
  color: #ff0000;
  transform: scale(1.2);
}

.contact-item .del{
  font-size: 35px;
  color: red;
}
